<ion-header>
  <mat-toolbar class="ToolBar">
    <div>
      <ion-button routerLink="/" fill="clear" style="font-size: large; color: antiquewhite;">
        <ion-icon  name="star"></ion-icon>
        <span>Filmes.Flix</span>
      </ion-button>
    </div>

  </mat-toolbar>
  <ion-breadcrumbs class="DivNav">
    <ion-breadcrumb routerLink="todos-filmes" >Todos Filmes/Séries</ion-breadcrumb>
    <ion-breadcrumb routerLink="lancamentos">Lançamentos</ion-breadcrumb>
    <ion-breadcrumb routerLink="filmes">Filmes</ion-breadcrumb>
    <ion-breadcrumb routerLink="series" >Séries</ion-breadcrumb>
  </ion-breadcrumbs>

</ion-header>
<ion-content>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="https://www.otempo.com.br/image/contentid/policy:1.3234387:1694730728/image-Aquaman-2-Veja-sinopse-elenco-e-trailer-do-filme.jpg" alt="imagem-1">
      </div>
      <div class="carousel-item">
        <img src="https://d2d7ho1ae66ldi.cloudfront.net/ArquivoNoticias/dfb6284d-4d82-11ee-aa6e-9587410378a2/a-freira-2.jpg" class="d-block h-150" alt="imagem-2">
      </div>
      <div class="carousel-item">
        <img src="https://t.ctcdn.com.br/Ue4r4eB4xAZn8JfmeUgf10DL2i8=/8x286:2024x1394/2016x1134/smart/i694254.jpeg" class="d-block h-170" alt="iamgem-3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
    <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="search()">
    </ion-searchbar>
    
    <ion-list *ngIf="searchResults.length > 0">
      <ion-item *ngFor="let result of searchResults">
        <ion-button fill="clear" (click)="selectResult(result)">
        {{ result.title }} 
      </ion-button>
      </ion-item>
    </ion-list>
  <div>
    <router-outlet></router-outlet>
  </div>
</ion-content>
